<ion-header>
  <ion-toolbar color="primary">
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-recipe-item
      *ngFor="let recipe of recipes"
      [recipeItem]="recipe"
    ></app-recipe-item>
  </ion-list>
  <div class="pan" (touchmove)="onPan($event)">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quidem
    labore hic cum. Quo atque voluptate ipsa, enim modi provident distinctio
    iure. Qui quam dolores voluptas saepe doloribus, soluta necessitatibus!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
    assumenda necessitatibus atque quia similique, aut fugiat magni voluptas
    architecto vero maxime reprehenderit esse dolorum, tempore odit iste earum,
    recusandae quae?
  </div>
</ion-content>

<app-slide-drawer></app-slide-drawer>
