ion-content {
  --background: #f1eeee;
}
ion-list {
  --background: #f1eeee;
}

.pan {
  display: inline-block;
  overflow-y: scroll;
  max-height: 88px;
  padding: 20px;
  background: greenyellow;
  color: black;
}
