:host {
  left: 0;
  position: absolute;
  top: 90%;
  right: 0;
}

ion-card {
  margin: 0;
}

ion-card-content {
  min-height: auto;
}

.list-scroll {
  font-size: 20px;
  height: 200px;
  overflow-y: scroll;
  padding: 0 20px;
}
